.page-not-available {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 32rem;
}

.page-not-available h2 {
    font-family: Markazi Text;
    font-weight: 400;
    font-size: 2rem;
}

.page-not-available svg {
    font-size: 4em;
}