.testimonialSection {
    background-color: #495e57;
    padding-bottom: 1.8rem;
    padding-top: 1.8rem;
}

.testimonialSection .container {
    gap: 1.25rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto;
}

.testimonialSection h2 {
    text-align: center;
    color: #edefee;
    grid-row: 1;
    grid-column: span 4;
    font-family: Markazi Text;
    font-weight: 400;
    line-height: 1;
    font-size: 2.5rem;
}

.testimonialCard {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column: auto;
    background-color: #edefee;
    min-height: 23rem;
    border-radius: 1rem;
    padding: 1rem;
}

.testimonialCard img {
    width: 8rem;
    border-radius: 50%;
    margin: 0 auto 0.75rem;
}

.testimonialCard h4 {
    text-align: center;
    margin-bottom: 1rem;
}

.testimonialCard span {
    color: #f4ce14;
    font-size: 0.8em;
}