* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #495e57;
  font-family: Karla, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #495e57;
}

header {
  border-bottom: 1.5rem solid #495e57;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 61.625rem;
  width: 90%;
}

.grid {
  display: grid;
}

.focus-button {
  padding: 0.6rem 1.25rem;
  background-color: #f4ce14;
  color: #495e57;
  border: 1px solid #f4ce14;
  border-radius: 1.5rem;
  font-weight: 600;
  transition: all 0.2s ease-out;
}

.focus-button:hover {
  background-color: transparent;
  color: #f4ce14;
}
